<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" />
    <script
            src="https://code.jquery.com/jquery-3.5.1.min.js"
            integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
            crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <link th:href="@{/styles/main.css}" rel="stylesheet"/>
</head>
<body>
<div class="container">

    <div class="container2">
        <tr th:each="shelf : ${shelves}">
            <div th:id="${shelf.idShelf}" th:class="${shelf.getCssTags()}" >
                <a th:unless="${shelf.isEmpty()}" data-toggle="modal" th:data-target="'#details_'+${shelf.idShelf}" style="position: absolute; width: 100%; height: 100%;"></a>
                <span th:text="${shelf.idShelf}"></span>
            </div>
        </tr>
    </div>
    <hr />

    <div class="container1">
        <button class="btn btn-primary" role="button" onclick="level1()" style="background: beige; border: black; color: black">Poziom 1</button>
        <button class="btn btn-primary" role="button" onclick="level2()" style="background: azure; border: black; color: black">Poziom 2</button>
        <button class="btn btn-primary" role="button" onclick="level3()" style="background: aquamarine; border: black; color: black">Poziom 3</button>
    </div>

</div>
<table class="table table-stripped">
    <thead>
    <tr>
        <td>Id zamówienia</td>
        <td>Status</td>
        <td>Id produktu</td>
        <td>Nazwa produktu</td>
        <td>Numer seryjny</td>
        <td>Ilość</td>
        <td>Id półki</td>
        <td>Lokalizacja półki</td>
        <td>Zakończ zamówienie</td>
    </tr>
    </thead>
    <tr >
        <td th:text="${sale.idSale}"></td>
        <td th:text="${thisProduct.status}"></td>
        <td th:text="${thisProduct.idProduct}"></td>
        <td th:text="${thisProduct.name}"></td>
        <td th:text="${thisProduct.serialNumber}"></td>
        <td th:text="${thisProduct.amount}"></td>
        <td th:if="${sale.getProductEntity().hasShelf()}" th:text="${sale.getProductEntity().getShelfEntity().idShelf}"></td>
        <td th:unless="${sale.getProductEntity().hasShelf()}" >Brak półki</td>
        <td th:if="${sale.getProductEntity().hasShelf()}" th:text="${'Kolumna '+sale.getProductEntity().getShelfEntity().column+', rząd '+sale.getProductEntity().getShelfEntity().row+', poziom '+sale.getProductEntity().getShelfEntity().level}"></td>
        <td th:unless="${sale.getProductEntity().hasShelf()}" >Brak półki</td>
        <td>
            <form th:action="@{/finish/sale}" method="get">
                <input type="hidden" name="idSale" th:value="${sale.idSale}"/>
                <button class="btn btn-danger">Realizuj zamówienie</button>
            </form>
        </td>
    </tr>
</table>
<div th:each="shelf : ${shelves}" th:unless="${shelf.isEmpty()}" th:id="'details_'+${shelf.idShelf}" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" th:text="'Produkt nr. '+${shelf.getProductEntity().idProduct}"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p><b>Nazwa produktu</b></p>
                <p th:text="${shelf.getProductEntity().name}"></p>
                <hr/>
                <p><b>Numer seryjny</b></p>
                <p th:text="${shelf.getProductEntity().serialNumber}"></p>
                <hr/>
                <p><b>Liczba produktów w opakowaniu</b></p>
                <p th:text="${shelf.getProductEntity().amount}"></p>
                <hr/>
                <p><b>Status</b></p>
                <p th:text="${shelf.getProductEntity().status}"></p>
                <hr/>
                <p><b>Aneks</b></p>
                <p th:if="${shelf.getProductEntity().hasAnnex()}" th:text="${shelf.getProductEntity().getAnnexEntity().info}"></p>
                <p th:unless="${shelf.getProductEntity().hasAnnex()}">Aneks jest pusty</p>
                <form method="post" th:action="@{/add/product/annex}">
                    <input type="text" name="info" placeholder="Podaj nowe informacje do aneksu" />
                    <button type="submit" class="btn btn-primary">Wyślij</button>
                    <input type="hidden" name="idProduct" th:value="${shelf.getProductEntity().idProduct}"/>
                </form>
                <hr/>
                <form method="post" th:action="@{/remove/product}">
                    <input type="hidden" name="idProduct" th:value="${shelf.getProductEntity().idProduct}"/>
                    <button class="btn btn-danger" type="submit">Usuń produkt</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div th:each="shelf : ${shelves}" th:unless="${shelf.isEmpty()}" th:id="'annex_'+${shelf.idShelf}" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" th:text="'Produkt nr. '+${shelf.getProductEntity().idProduct}"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p><b>Aneks</b></p>
                <p th:if="${shelf.getProductEntity().hasAnnex()}" th:text="${shelf.getProductEntity().getAnnexEntity().info}"></p>
                <p th:unless="${shelf.getProductEntity().hasAnnex()}">Aneks jest pusty</p>
                <form method="post" th:action="@{/add/product/annex}">
                    <input type="text" name="info" placeholder="Podaj nowe informacje do aneksu" />
                    <button type="submit" class="btn btn-primary">Wyślij</button>
                    <input type="hidden" name="idProduct" th:value="${shelf.getProductEntity().idProduct}"/>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

</body>
<script>
    function level1() {
        $(".l0").show();
        $(".l1").hide();
        $(".l2").hide();
    }
    function level2() {
        $(".l0").hide();
        $(".l1").show();
        $(".l2").hide();
    }
    function level3() {
        $(".l0").hide();
        $(".l1").hide();
        $(".l2").show();
    }
</script>
</html>