.container2 {
    border-radius: 10px;
    background-color: lightgray;
    width: 778px;
    height: 440px;
    padding-left: 15px;
}

.shelf {
    position: absolute;
    display: block;
    width: 50px;
    height: 50px;
    margin: 10px;
    text-align: center;
    vertical-align: bottom;
    /*background-color: beige;*/
    border-style: solid;
    border-width: 5px;
    border-color: black;
}

.crossed0 {
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' preserveAspectRatio='none' viewBox='0 0 100 100' style='background: beige'><path d='M100 0 L0 100 ' stroke='red' stroke-width='10'/><path d='M0 0 L100 100 ' stroke='red' stroke-width='10'/></svg>") no-repeat center center;
    background-size: 100% 100%, auto;
    border-color: red;
    color: red;
    font-weight: bold;
}

.crossed1 {
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' preserveAspectRatio='none' viewBox='0 0 100 100' style='background: azure'><path d='M100 0 L0 100 ' stroke='red' stroke-width='10'/><path d='M0 0 L100 100 ' stroke='red' stroke-width='10'/></svg>") no-repeat center center;
    background-size: 100% 100%, auto;
    border-color: red;
    color: red;
    font-weight: bold;
}

.crossed2 {
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' preserveAspectRatio='none' viewBox='0 0 100 100' style='background: aquamarine'><path d='M100 0 L0 100 ' stroke='red' stroke-width='10'/><path d='M0 0 L100 100 ' stroke='red' stroke-width='10'/></svg>") no-repeat center center;
    background-size: 100% 100%, auto;
    border-color: red;
    color: red;
    font-weight: bold;
}

.active {
    border-width: 7px;
    border-color: green;
    background: darkseagreen;
    color: green;
    font-weight: bolder;
}

.l0 {
    background: beige;
}

.l1 {
    display: none;
    background: azure;
}

.l2 {
    display: none;
    background: aquamarine;
}

.c0 {
    margin-left: 0;
}

.c1 {
    margin-left: 70px;
}

.c2 {
    margin-left: 140px;
}

.c3 {
    margin-left: 210px;
}

.c4 {
    margin-left: 280px;
}

.c5 {
    margin-left: 350px;
}

.c6 {
    margin-left: 420px;
}

.c7 {
    margin-left: 490px;
}

.c8 {
    margin-left: 560px;
}

.c9 {
    margin-left: 630px;
}

.c10 {
    margin-left: 700px;
}

.r0 {
    margin-top: 20px;
}

.r1 {
    margin-top: 70px;
}

.r2 {
    margin-top: 120px;
}

.r3 {
    margin-top: 170px;
}

.r4 {
    margin-top: 220px;
}

.r5 {
    margin-top: 270px;
}

.r6 {
    margin-top: 320px;
}

.r7 {
    margin-top: 370px;
}